$heading-border-color: #e3e3e3;
$h6-color: #6a737d;

.heading {
  margin: 1.5rem 0 1rem 0;
  line-height: 1;
  font-weight: 500;
}

.h1 {
  @extend .heading;
  border-bottom: 1px solid $heading-border-color;
  padding-bottom: 0.3em;
  font-size: 2rem;
}

.h2 {
  @extend .heading;
  font-size: 1.5rem;
}

.h3 {
  @extend .heading;
  font-size: 1.25rem;
}

.h4 {
  @extend .heading;
  font-size: 1rem;
}

.h5 {
  @extend .heading;
  font-size: 0.875rem;
}

.h6 {
  @extend .heading;
  font-size: 0.85rem;
  color: $h6-color;
}
