$caption-color: rgba(0, 0, 0, 0.54);

.container {
  margin: 0;
  padding: 0;

  .image {
    display: block;
    max-width: 100%;
    margin: auto;
    cursor: pointer;
  }

  .caption {
    font-size: 0.9rem;
    color: $caption-color;
    text-align: center;
    margin-top: 0.5rem;
  }
}
