.list {
  padding-left: 2rem;
  margin: 0 0 1rem;

  :global(ol),
  :global(ul) {
    margin: 0;
  }

  :global(ol) {
    list-style-type: lower-roman;

    :global(ol) {
      list-style-type: lower-alpha;
    }
  }
}
