$cell-border-color: #dfe2e5;
$odd-row-bg-color: #fff;
$even-row-bg-color: #f6f8fa;

.table {
  border-collapse: collapse;
  border-spacing: 0;
}

.row {
  background-color: $odd-row-bg-color;

  &:nth-child(2n) {
    background-color: $even-row-bg-color;
  }
}

.cell {
  padding: 6px 13px;
  border: 1px solid $cell-border-color;

  &.header {
    font-weight: 600;
  }
}
