$divider-bg-color: #bbb;

.postList {
  .postItem {
    padding: 1rem;
    position: relative;

    &:not(:last-child):after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 1rem;
      right: 1rem;
      height: 1px;

      background-color: $divider-bg-color;
    }
  }
}
