$global-text-color: #212529;

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  overflow: hidden;
  color: $global-text-color;
}

body,
#app {
  overflow: auto;
}

html,
body,
#app {
  height: 100%;
}
